.content {
    display: flex;
    align-items: stretch;
}

.linksList {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;

    width: 30%;
}

.linkUl {
    padding: 0;
}

.linkLi {
    list-style-type: none;
    padding-bottom: 24px;
    font-size: 16px;
}

.linkLi_active {
    font-weight: bold;
}

.contentMain {
    width: 100%;
}
