.item {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.infoUl {
    padding: 0;
}

.infoLi {
    list-style-type: none;

    color: #b6b6b6;
}

.price {
    font-size: 20px;
    margin: 0;
}

.counterBlock {
    display: flex;
    align-items: center;

    float: right;
}

.counterText {
    font-size: 20px;
    padding: 0 30px;
}

.counterBtn {
    color: #fff;
    background: #000;

    font-size: 30px;
    height: 40px;
    width: 40px;

    text-align: center;

    border-radius: 10px;
}

.counterBtn:disabled {
    background: #00000080;
}
