.content {
    display: flex;
    align-items: stretch;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.totalPrice {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linksList {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 10px 20px;

    height: 30%;
    width: 30%;

    min-height: 100%;
}

.linkA {
    color: #000;
    text-decoration: none;
}

.linkUl {
    height: 100%;
    padding: 0;
}

.linkLi {
    list-style-type: none;
    padding-bottom: 24px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.linkLi_active {
    font-weight: bold;
}

.contentMain {
    width: 100%;
}

.buyBtn {
    color: #fff;
    background: #000;

    font-size: 15px;
    height: 34px;
    width: 79px;

    text-align: center;

    border-radius: 8px;
}
