.infoBlock {
    display: flex;
}

.dataBlock {
    width: 100%;
}

.annotationBlock {
    width: 100%;
}

.annotationTitle {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
